body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2ebfb;
;
    display: block;

}

header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 30px;
    background:#311358;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 99;
    
    
}
.logo{
   
    color: aliceblue;
    user-select: none;
    font-family:serif;
}
.nav a{
    color: aliceblue;
    position: relative;
    font-size:1.1em;
    /* margin-left: 10px; */
    margin-right: 70px;
    text-decoration:none;
}
.nav a:hover{
    text-decoration: underline;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 90px;
}

h2 {
    color: #800080;
}

input, select, button {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100px;
    background-color: #663399;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #660066;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #eee;
}

.borrow-btn {
    padding: 5px 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.borrow-btn:hover {
    background-color: #660066;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #888;
}
