<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Clean Code</title>

<link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <h1 class="logo">Book Corner</h1>
        <nav class="nav">
            <a href="home.html">Home</a>
            <a href="books.html">Books</a>
            <a href="search.html">Search</a>
            <a href="borrowed_books.html">Borrowed Books</a>
            <a href="login.html">Logout</a>
        </nav>

    </header>
<div class="book">
<p><b>Book Name:</b> Clean Code</p>
<p><b>Author:</b> Robert Martin</p>
<p><b>Category:</b> Technology</p>
<p><b>Description:</b> This book explains clean code.</p>
<p><b>Status:</b> Available</p>

<button onclick="borrowBook('Clean Code', 'Robert Martin')">Borrow Book</button>

<br><br>

<a href="books.html">Back</a>
</div>
     <br>
    <footer >
    <hr>
        <p>© 2026 Book Corner </p>
    </footer>

<script src="js/script.js"></script>

</body>
</html>
